.Feed {
    height: 100vh;
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
    max-width: 853px;

    .container {
        display: flex;
        gap: 20px;
        height: 100%;
        overflow-y: auto;

        .left-part {
            flex: 2;
        }

        .right-part {
            flex: 1;

            .title {
                margin-bottom: 12px;
            }

            .suggestions {
                margin-top: 30px;
            }
        }
    }
}
