.Navbar {
    background-color: white;
    top: 0;
    max-width: 244px;
    height: 100vh;
    border-right: 1px solid var(--border-color);

    .nav-container {
        width: 244px;
        padding: 8px 12px;
        position: relative;

        .banner {
            margin: 32px 12px 31px 12px;
        }

        .nav-links-container {
            height: 519px;
        }

        .nav-link {
            padding: 12px 12px;
            border-radius: 30px;
            line-height: 24px;
            margin-bottom: 8px;
            gap: 16px;
            display: flex;
            cursor: pointer;
            align-items: center;

            svg {
                transition: 0.2s;
            }
        }

        .nav-link.open {
            font-weight: 700;
        }

        .nav-link:hover {
            background-color: rgb(250, 250, 250);

            svg {
                transform: scale(1.06);
            }
        }

        .home-nav {
            font-weight: 700;
        }
    }
}
